# Uncheck gpu or normal version of tensorflow
tensorflow-gpu==2.3.0
#tensorflow
tensorflow-datasets
scikit-learn
imbalanced-learn
matplotlib
spotipy
mysql-connector-python
matplotlib
opencv-python
Pillow
kaggle
